<!doctype html >
<html ng-csp>
  <head>
    <meta charset="utf-8">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- build:css -->
    <!-- endbuild -->
  </head>
  <body>
    <h1>'Allo, 'Allaaaao!</h1>

    <div ui-view></div>


    <!-- bower:js -->
    <!-- endbower -->

    <!-- build:js  -->
    <!-- endbuild -->
  </body>
</html>
